server:
  port: ${SERVER_PORT:5001}
  shutdown: graceful

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  application:
    name: nexusbot
  lifecycle:
    timeout-per-shutdown-phase: 30s

logging:
  pattern:
    console: "[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{36}] - %msg%n"
